{% extends "base.html" %}

{% block title %} Orders{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<h2 style="color: #00bf63; margin: 20px 0;">Orders History</h2>
<hr>

{% if not order %}
<p>No Order.</p>
{% else %}

{% for i in order %}
<div class="card-order mb-3 p-3" style="border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
    <h5 style="color: #00bf63;">Order #{{ i.id }}</h5>
    {% if i.status == 'Delivered' %}
    <p>Status: <span style="color: #00bf63;">{{ i.status }}</span></p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-success" style="width: 100%">100%</div>
    </div>
    {% elif i.status == 'Cancelled' %}
    <p>Status: <span style="color: #ff0000;">{{ i.status }}</span></p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
    </div>
    {% elif i.status == 'Shipped' %}
    <p>Status: <span style="color: #17a2b8;">{{ i.status }}</span></p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-info" style="width: 75%;">75%</div>
    </div>
    {% elif i.status == 'Processing' %}
    <p>Status: <span style="color: #ffa500;">{{ i.status }}</span></p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-warning" style="width: 50%;">50%</div>
    </div>
    {% elif i.status == 'Paid' %}
    <p
        style="color: white; background-color: #00bf63; border-radius: 20px; padding: 10px; width: 300px; font-weight: bold;">
        Status: <span>{{ i.status }}</span></p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-success" style="width: 90%;">90%</div>
    </div>
    {% else %}
    <p>Status: <span style="color: #0000ff;">{{ i.status }}</span></p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-blue" style="width: 0%;">0%</div>
    </div>
    {% endif %}
    <p>Order Date: {{ i.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    {% if i.address %}
    <p>Shipping Address: {{ i.address }}</p>
    {% endif %}
    <p style="font-weight: bold;">Total: <span style="color: #00bf63;">Ghs {{ i.total_price }}</span></p>

    {% for item in i.items %}
    <div class="order-item d-flex align-items-center mb-3">
        {% if item.product_image %}
        <img src="{{ url_for('static', filename='images/products/' + item.product_image)}}"
            alt="{{ item.product.name }}" class="order-img">
        {% else %}
        <img src="{{ url_for('static', filename='images/uploads/default.jpg')}}" alt="No Image" class="order-img">
        {% endif %}


        <div class="ms-3">
            <p class="mb-1 fw-bold">
                {{ item.product.name }}
            </p>

            <small>
                x {{ item.quantity }} - Ghs {{ item.product.price }}
            </small>
        </div>

    </div>
    {% endfor %}
    {% if current_user.role == 'admin' and i.status != 'Paid' %}
    <a class="btn btn-outline-primary" href="{{ url_for('admins.update_order', order_id=i.id) }}">
        Update Order Status</a>
    <a style="color: white; background-color: #dc3545; border-color: #dc3545; 
    padding: 10px 20px; border-radius: 5px; text-decoration: none;"
        href="{{ url_for('orders.cancel_order', order_id=i.id) }}">Cancel Order</a>
    <a class="btn btn-outline-primary" href="{{ url_for('orders.pay', order_id=i.id) }}">Make Payment</a>
    {% elif current_user.role == 'admin' and i.status == 'Paid' %}
    <a class="btn btn-outline-primary" href="{{ url_for('admins.update_order', order_id=i.id) }}">
        Update Order Status</a>
    {% else %}
    {% if i.status == 'Pending' %}
    <a class="btn btn-outline-primary" href="{{ url_for('orders.pay', order_id=i.id) }}">Make Payment</a>
    <a style="color: white; background-color: #dc3545; border-color: #dc3545; 
        padding: 10px 20px; border-radius: 5px; text-decoration: none;"
        href="{{ url_for('orders.cancel_order', order_id=i.id) }}">Cancel Order</a>

    {% elif i.status == 'Paid' %}
    <p class="text-muted fst-italic">Payment received. Your order is being processed.</p>

    {% elif i.status == 'Processing' %}
    <p class="text-muted fst-italic">Your order is currently being processed.</p>

    {% elif i.status == 'Shipped' %}
    <p class="text-muted fst-italic">Your order is on the way!</p>

    {% elif i.status == 'Delivered' %}
    <p class="text-muted fst-italic">Your order has been delivered. Thank you for shopping with us!</p>

    {% elif i.status == 'Cancelled' %}
    <p class="text-muted fst-italic">This order was cancelled.</p>

    {% endif %}
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock %}