{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card-grid">
        {% for product in products %}
        <a href="{{url_for('cart.product_detail', product_id=product.id)}}">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/products/'+ product.image) }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-title">{{ product.name }}</p>
                    <p style="color: gold;">
                        {% for i in range(1, 6) %}
                        {% if i <= product.rating %} 
                        <i class="bi bi-star-fill"></i> 
                        {% else %} 
                        <i class="bi bi-star"></i> 
                        {% endif %} 
                        {% endfor %} 
                    </p>
                            <strong>
                                <p class="card-text"> Ghs {{ product.price }} </p>
                            </strong>
                            <strike style="color: gray;"><small>
                                    <p style="color: gray;">Ghs {{product.previous_price}}</p>
                                </small></strike>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}