{% extends 'base.html' %}


{% block content %}

<div class="product_detail">
    <div class="p-col-1">
        <img src="{{ url_for('static', filename='images/products/'+ product.image) }}" alt="{{product.name}}">
    </div>

    <div class="p-col-2">
        <p style="font-weight: bold; color: gray;">{{ product.name }}</p>
        <hr>
        <span>
            <p style="font-size: 10px; color: gray;">In Stock: {{ product.stock }} pieces left</p>
        </span>
        <p class="description">{{product.description}}</p>
        <div class="prices">
            <div class="c-price">
                <p><span style="color: #00bf63">Now </span>| GHS {{product.price}}</p>
            </div>

            <div class="p-price">
                <p>Before| <strike> {{product.previous_price}}</strike></p>
            </div>

        </div>
        <a href="{{url_for('cart.add_cart', product_id=product.id)}}" class="btn">Add cart</a>
        <hr>
    </div>

</div>

{% endblock %}