<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from 'bootstrap5/form.html' import render_form %}
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}

    {% block title %} <title>Register - TechLink Shop</title> {% endblock %}

</head>

<body class="register-page">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
     <h1 
    style="background: white; 
    font-weight: bolder; margin-bottom: 20px; 
    margin-top: 40px; padding: 10px; text-align: center;
    width: 300px; margin-left: auto; margin-right: auto; border-radius: 10px;">
    Shop<span style="color: #00bf63;">Tech</span></h1>

    <h2>Register</h2>
    <hr>
    {% block content %}
    <div class="container register-container d-flex justify-content-center align-items-center">
        {{ render_form(form, novalidate=True, button_map={'submit': 'success'}) }}
    </div>
    {% endblock %}


    {% block scripts %}
    {{ bootstrap.load_js() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}

</body>

</html>