<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Bootstrap demo</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->
<!--  </head>-->
<!--  <body>-->

{% block style %}
{{ bootstrap.load_css() }}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block content %}
 {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert" style="text-align: center;">
        {{ message }}
    </div>
  {% endfor %}
<div class="container">
    <h3 style="text-align: center; color: #00bf63; margin: 10px auto;">Edit Product</h3>
    <hr style="border: none; height: 5px; width: 80px; margin: 10px auto; background: #00bf63; margin-bottom: 20px;">


    <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Product Image</th>
      <th scope="col">Price</th>
      <th scope="col">Previous Price</th>
      <th scope="col">Available Stock</th>
      <th scope="col">Rating</th>
      <th scope="col">Date Added</th>
      <th scope="col">Admin Action</th>
    </tr>
  </thead>
  <tbody>
     {% for product in products %}
    <tr>
      <th scope="row">{{ product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td><img src="{{ url_for('static', filename='images/products/'+ product.image) }}" width="100" style="border-radius: 15px;"></td>
      <td>Ghs {{product.price}}</td>
      <td>Ghs {{product.previous_price}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.rating}}</td>
      <td>{{product.created_at}}</td>
      <td><a class="btn" href="{{ url_for('admins.edit_product', product_id=product.id) }}">Update</a></td>
      <td><a class="btn" href="{{ url_for('admins.delete_product', product_id=product.id) }}">Delete</a></td>
    </tr>
     {% endfor %}
   

  </tbody>
</table>
</div>
{% endblock %}

{% block script %}
{{ bootstrap.load_js() }}
{% endblock %}

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->